.footer {
	background-color:#E4E4E4;
}

#aboutCarousel {
	padding: 0;
}

#trainingCarousel {
	padding: 0;
	height: 600px;
}

#sittingCarousel {
	padding: 0;
	height: 600px;
}

#main {
	padding-bottom: 30px;
}

.navbar-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}